<div class="container jumbotron">

    <div class="row">
        <div class="col-md-6">
            <span class="text-info">Enter Your Name :</span><br />
            <input type="text" id="txtUser" class="form-control" autofocus /><br />

            <span class="text-info">Enter Your Message :</span><br />
            <textarea id="txtMessage" rows="10" cols="54" class="form-control"></textarea><br />
            <button type="submit" id="btnSend" class="btn btn-info">Send Message</button>
        </div>

        <div class="col-md-6">

            <img src="/images/AMH.png" style="width:60px;height:40px" class="rounded-circle" />
            <ul id="list" class="alert alert-info" style="height:330px">
            </ul>

        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
